@model IEnumerable<ProyectoDisArq.Models.Producto>
@{
    ViewData["Title"] = "Chessecakes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Nuestros ChesseCakes</h2>
@if (Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            string Product_nameComplete = @item.Name + ".jpg";
            <div class="card" style="width: 18rem;">
                <img src="~/wwwroot/media/@Product_nameComplete" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@Html.Raw(item.Descripcion)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Sabor:  @item.Sabor</li>
                    <li class="list-group-item">Peso:   @item.Tamagno Kg</li>
                    <li class="list-group-item">Precio: S/. @item.Costo_Base</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Agregar al carrito</a>
                    <a href="#" class="card-link">Comprar</a>
                </div>
            </div>

        }
    </div>
}
else
{
    <p>No hay @ViewData["Title"] para mostrar</p>
}
