@model ProyectoDisArq.Models.ViewModels.ComplementoVM
@{
    ViewData["Title"] = "Detalle Insumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <div class="row py-2 border-bottom bg-light">
                    <div class="col-2 fw-bold text-end">Nombre</div>
                    <div class="col">@Model.Complemento.Name</div>
                </div>
                <div class="row py-2 border-bottom bg-light">
                    <div class="col-2 fw-bold text-end">Descripcion</div>
                    <div class="col">@Html.Raw(Model.Complemento.Descripcion)</div>
                </div>
                <div class="row py-2 border-bottom bg-light">
                    <div class="col-2 fw-bold text-end">Costo por gramo</div>
                    <div class="col">@Model.Complemento.Costo_gramo</div>
                </div>
                <div class="row py-2 border-bottom">
                    <div class="col-2 fw-bold text-end">Categoría</div>
                    <div class="col">@Model.Complemento.Categoria.Nombre</div>
                </div>
                <div class="row py-2 border-bottom">
                    <div class="col-2 fw-bold text-end">Receta</div>
                    <div class="col">@Model.Complemento.Receta.Name</div>
                </div>
                <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                    <a asp-controller="Complementos" asp-action="Edit" asp-route-id="@Model.Complemento.ComplementoId" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i>&nbsp;Editar
                    </a>
                    <a asp-controller="Complementos" asp-action="Index" class="btn btn-primary">
                        <i class="bi bi-arrow-return-left"></i>&nbsp;Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>